@area('main', function() {
  <header id="header">
    <h1>todos</h1>
    <form action="/todos/new" method="POST">
      <input id="new-todo" name="task" placeholder="What needs to be done?" autofocus>
    </form>
  </header>
  <!-- This section should be hidden by default and shown when there are todos -->
  <section id="main">
    @@block(function() {
			if (todos.size > 0) {
	      <input id="toggle-all" type="checkbox" @(todos.done ? "checked" : "")>
		    <a class="toggle-all-trigger" data-silent="true" href="/todos/toggle-all"></a>
		    <label for="toggle-all">Mark all as complete</label>
			}
    })
    <ul id="todo-list">
      <!-- These are here just to show the structure of the list items -->
      <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
      @@collection(todos, function(todo) {
      <li class="@(todo.isDone ? "completed" : "")" id="todo-@(todo._id)">
        <div class="view">
          <input class="toggle" type="checkbox" @(todo.isDone ? "checked" : "")>
          <a class="toggle-trigger" data-silent="true" href="/todos/@(todo._id)/toggle"></a>
          <label>@todo.task</label>
					<a class="destroy" data-silent="true" href="/todos/@(todo._id)/delete"></a>
        </div>
        <form action="/todos/@(todo._id)/edit" method="POST">
          <input class="edit" name="task" value="@(todo.task)">
        </form>
      </li>
      })
    </ul>
  </section>
  <!-- This footer should hidden by default and shown when there are todos -->
	@@block(function() {
		if (todos.size > 0) {
		  <footer id="footer">
		    <!-- This should be `0 items left` by default -->
		    @@block(function() {
			    <span id="todo-count">
			        <strong>@todos.left</strong> item@(todos.left === 1 ? '' : 's') left
			    </span>
		    })
		    <!-- Remove this if you don`t implement routing -->
				@@block(function() {
			    <ul id="filters">
			      <li>
			        <a class="@(!state.condition ? 'selected' : '')" href="/">All</a>
			      </li>
			      <li>
			        <a class="@(state.condition === 'active' ? 'selected' : '')" href="/active">Active</a>
			      </li>
			      <li>
			        <a class="@(state.condition === 'completed' ? 'selected' : '')" href="/completed">Completed</a>
			      </li>
			    </ul>
				})
		    @@block(function() {
		      @if (todos.completed)
		        <a href="/todos/clear/completed" data-silent="true" id="clear-completed">Clear completed (@todos.completed)</a>
		    })
		  </footer>
		}
	})
})

@area('footer', function() {
  <p>Double-click to edit a todo</p>
  <p>Template by <a href="http://github.com/sindresorhus">Sindre Sorhus</a></p>
  <!-- Change this out with your name and url ↓ -->
  <p>Created by <a href="http://ma.rkusa.st">Markus Ast</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
})