<!DOCTYPE html>
<html>
	<head>
		<title>Arkansas</title>
	</head>
	<body>
		{{#block}}
		  <p>Seite {{state.page}}</p>
		{{/block}}
    <ul>
      {{#collection todos}}
        <li>{{this.todo}}</li>
      {{/collection}}
    </ul>
		<ul>
			<li><a href="/">1</a></li>
			<li><a href="/2">2</a></li>
		</ul>

    <script type="text/javascript" src="/js/zepto.min.js"></script>
    <script type="text/javascript" src="/js/page.js"></script>
    <script type="text/javascript" src="/browserify.js"></script>
    <script type="text/javascript" src="/js/handlebars.runtime.js"></script>
    <script type="text/javascript">
      var app = window.app = new (require('./shared'))
      app.deserialize({{{serialize}}})
    </script>
	</body>
</html>