<!DOCTYPE html>
<html>
	<head>
		<title>Arkansas</title>
		<script type="text/javascript" src="/browserify.js"></script>
		<script type="text/javascript" src="/js/handlebars.runtime.js"></script>
	</head>
	<body>
		{{#block}}
		<p>Seite {{state.page}}</p>
		{{/block}}
		<ul>
			<li><a href="/">1</a></li>
			<li><a href="/2">2</a></li>
		</ul>
    <script type="text/javascript">
      var Templates = []
      !function() {
      	var helpers = Handlebars.helpers, foundHelper, tmp1, self = Handlebars, functionType="function", helperMissing = helpers.helperMissing, undef = void 0, escapeExpression = Handlebars.Utils.escapeExpression, blockHelperMissing = helpers.blockHelperMissing
	      {{#each _templates}}
	      Templates[{{this.id}}] = {{{this.fn}}}
	      Templates[{{this.id}}].id = {{this.id}}
	      {{/each}}
      }()
      var Bindings = {{json _bindings}}
    </script>
	</body>
</html>